body{
  margin: 0;
  padding: 0;
}

#canvas-container{
  float: left;
  width: 680px;
  height: 660px;
}

#fywo, #background {
  position: absolute;
  top: 20px;
  left: 60px;
}

#fywo {
  z-index: 1;
  background-color: transparent;
}

#background{
  z-index: 0;
  background-color: #FFA412;
}

#rightside-bar{
  float: left;

  padding-top: 20px;
  margin-left: 50px;
}